* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: rgb(245, 245, 245);
    overflow: hidden;
}

input[type='checkbox'] {
    visibility: hidden;
}

.todo-app {
    margin: 0 auto;
    /* margin-top: 7em; */
    width: 50em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    color: #4d4d4d;
    font-weight: 300;
}

.header {
    margin-bottom: 1em;
}

.title {
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
}

.input {
    padding: 16px;
    border: none;
    color: inherit;
    background: rgba(254, 254, 254);
    font-size: 24px;
    font-weight: 200;
    line-height: 1.4em;
    width: 100%;
    background: rgb(254, 254, 254);
    box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.048);
    border: 1px solid rgba(0, 0, 0, 0.089);
    height: 5rem;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-weight: 100;
    opacity: 0.6;
}

.main {
    background: rgb(254, 254, 254);
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    /* 5*5=25 */
    max-height: 23em;
    overflow: scroll;
}

.todo-item {
    position: relative;
    width: 100%;
    min-height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-top: 0;
}

.todo-checkbox {
    width: 30px;
    height: 30px;
    background: #ddd;
    margin: 15px;
    border-radius: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.312);
}

.todo-checkbox label {
    width: 20px;
    height: 20px;
    border-radius: 100px;

    transition: all 0.5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: rgba(99, 99, 99, 0.698);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.312);
}

.todo-checkbox input[type='checkbox']:checked + label {
    background: #26ca299b;
}

.todo-item-detail {
    font-weight: 300;
    overflow-wrap: break-word;
    width: 90%;
    transition: opacity 0.3s;
    height: 100%;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    padding: 1em;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-top: 0.5px solid rgba(0, 0, 0, 0.089);
}

.todo-app__total {
    min-width: 3em;
}

.view-buttons {
    display: flex;
    margin: 0;
    margin-left: 2em;
    padding: 0;
    width: 12em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.view-buttons button {
    border: none;
    padding: 5px;
    font-size: 0.8em;
    font-weight: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
}

.view-buttons button:focus {
    outline: none;
}

.cleaner {
    vertical-align: middle;
}

.cleaner button {
    border: none;
    padding: 5px;
    border: 1px solid transparent;
    font-size: 0.8em;
    font-weight: inherit;
    cursor: pointer;
}

.cleaner button:focus {
    outline: none;
}

.cleaner button:hover {
    text-decoration: underline;
}

.todo-item-input {
    font-size: 1.5em;
    font-weight: 300;
    overflow-wrap: break-word;
    width: 80%;
    min-height: 3em;
    transition: opacity 0.3s;
    border: none;
}

.todo-item-input:focus {
    outline: none;
}

.todo-item-x {
    display: none;
}

.todo-item:hover .todo-item-x {
    display: inline;
    position: absolute;
    max-width: 20px;
    max-height: 20px;
    right: 20px;
}

.todo-item:hover .todo-item-x:hover {
    max-width: 25px;
    max-height: 25px;
    right: 17.5px;
}

/* my styles */
.todo-item.checked h1 {
    text-decoration: line-through;
    opacity: 0.5;
}
.todo-app[data-viewmode='active'] li.checked {
    display: none;
}
.todo-app[data-viewmode='completed'] li.unchecked {
    display: none;
}
/*
.todo-item h1 {
    cursor: pointer;
}
#dialog-bg {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(0, 0, 0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
#dialog-main {
    background-color: white;
    min-width: 550px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.dialog-item {
    padding: 0;
    margin: 10px;
    display: flex;
}
.dialog-item *:nth-child(2n+1) {
    flex: 1;
}
.dialog-item *:nth-child(2n) {
    flex: 4;
}
#dialog-btn {
    width: 20%;
    float: right;
}
.dialog-item:last-child {
    display: block;
}
*/
